[Desktop Entry]
Categories=System;
Comment=Mount encrypted disk "secrets"
Encoding=UTF-8
GenericName=TrueCrypt
Icon=truecrypt
Name=Mount Secrets
Exec=/usr/bin/truecrypt /home/polster/secrets
Terminal=false
Type=Application
