<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.pipacs.resetmountmyall</string>
    
    <key>OnDemand</key>
    <false/>
    
    <key>ProgramArguments</key>
    <array>
        <string>/bin/rm</string>
        <string>-f</string>
        <string>/var/lock/mountmyall</string>
    </array>
    
    <key>KeepAlive</key>
    <false/>
</dict>
</plist>
